<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<br>
<h3>Comments:</h3>
  <div class="form-group">
    <%= form.text_field :author, placeholder: "First and Last Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, placeholder: "Comment Here...", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.hidden_field :post_id %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
  
<% end %>
