<p id="notice"><%= notice %></p>
<div class= "container">
	<div class= "row">
		<div class= "col-md-1"></div>
			<div class= "col-md-10 post">
					<p><h1><%= @post.title %></h1></p>
					<p><strong>By: Johnathon Wright on:</strong>
					<span class="creation_date"><%= @post.created_at.to_date.strftime('%B %d, %Y')%></span></p>
					<% if user_signed_in? %>
						<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %>
					<% end %>
					<p><%= @post.text %></p>
					<% if @post.text.blank? %>
					    <%= markdown2html(@post.markdown_content) %>
				        <% else %>
				           <%= @post.text %>

			         <% end %>
					<% if user_signed_in? %>
						<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-primary" %>
					<% end %>
					<br>
					<br>
				<div id="comments">
					<%= render 'comments/form', comment: @comment %>
					<% @post.comments.each do |comment| %>
							<p>
								<div class="card card-default">
									<div class="card-body">
										<bold><%= comment.author %> said:</b>
										<%= comment.content.to_s.html_safe %>
									</div>
								</div>
							</p>
							<% if current_user %>
							<%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
							<% end %>
					<% end %>
				</div>
			  <div class= "col-md-1"></div>
			</div>	
	</div>		
</div>
<%= link_to 'Back', posts_path %>
