<nav class="navbar navbar-expand-lg">
  <div class="container">
    <ul class="nav-item">
        <%= link_to 'Home', 'http://www.mustmodify.com', class: 'nav-link' %>
    </ul>
    <ul class="nav-item">
        <%= link_to 'Portfolio', 'http://www.mustmodify.com/portfolio' , class: 'nav-link' %>
    </ul>
    <ul class="nav-item">
        <%= link_to 'Blog', blog_path(), class: 'nav-link' %>
    </ul>
    <ul class="nav-item">
        <%= link_to 'Lab Notes', lab_notes_path(), class: 'nav-link' %>
    </ul>
    <ul class="nav-item">
        <%= link_to 'GitHub', 'https://github.com/mustmodify', class: 'nav-link' %>
    </ul>
    <ul class="nav-item">
        <%= link_to 'Contact', '/pages/contact', class: 'nav-link' %>
    </ul>
    <ul class="navbar-nav mr-auto"></ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'nav-link' %>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link" href="/login">Admin Login</a>
            </li>
          <% end %>
        </ul>
    </div>
  </div>
</nav>

  