<nav class="navbar navbar-expand-md">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      MENU
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Sample Projects', "/projects" , class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Blog', posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'GitHub', 'https://github.com/mustmodify', class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Contact', '/pages/contact', class: 'nav-link' %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item">
              <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'nav-link' %>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Admin Login</a>
          </li>
        <% end %>
      </ul>
    </div> <!-- collapse -->
  </div> <!-- container -->
</nav>
<div id="banner-wrapper">
  <div class = "container">
    <%= image_tag "johnathon_wright_rails_consultant.png" %>
    <h1>
      <div class="firstname">Johnathon</div>
      <div class="lastname">Wright</div>
    </h1>
    <p class="nav-bio">
      I'm a developer and consultant, writing software for the web. I bring intensity, integrity and intellect to everything project. I find great value in the concepts of
      <a href="http://www.agilemanifesto.org">the Agile Manifesto</a>
      and look for value in industry best practices.
    </p>


  </div>
</div>

<%- if !page_title.blank? %>
  <div class="heading-wrapper">
    <div class="container">
      <h2><%= page_title %></h2>
    </div>
  </div>
<% end %>
